<div *ngIf="isSuccessful" class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>New Gift Added!</strong> Id :{{addedGiftId}}
</div>

<form>
    <div class="col-md-6">

        <div class="form-group">
            <label for="inputState">Gift Type</label>
            <select (change)="GiftTypeChange()" [(ngModel)]="currentGift.giftTypeId" id="giftType" name="giftType" class="form-control">
                <option value="1">Money</option>
                <option value="2">Gift</option>
            </select>
        </div>

        <div class="form-group">
            <label for="amount">Amount of Money</label>
            <input [disabled]="amountDisable" [(ngModel)]="currentGift.amount" type="number" class="form-control" id="amount" name="amount"
                placeholder="Enter Amount">

        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Payer's Name:</label>
            <input [(ngModel)]="currentGift.giftPayer" type="text" class="form-control" id="payersName"
                name="payersName" placeholder="Payers Name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Address:</label>
            <input [(ngModel)]="currentGift.address" type="text" class="form-control" name="address" id="address"
                placeholder="Address">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input [(ngModel)]="currentGift.phoneNumber" type="text" class="form-control" id="phoneNumber"
                name="phoneNumber" placeholder="Phone Number">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="currentGift.emailAddress" type="text" class="form-control" id="email" name="email"
                placeholder="Email">
        </div>

        <button (click)="AddGiftButton()" class="btn btn-primary">Add Gift</button>
    </div>
</form>